<div class="footer-above">
                            <div class="container">
                                <div class="row">
                                    <div class="footer-col col-md-4">
                                        <div class="col-md-4 col-sm-12">
                                            <h5 class="text-left">
											<i class="fa fa-coffee fa-fw"></i> <a class="link" href="">Team</a>
										</h5>
                                            <h5 class="text-left">
											<i class="fa fa-pencil fa-fw"></i> <a class="link" href="">Artwork</a>
										</h5>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <h5 class="text-left">
											<i class="fa fa-gavel fa-fw"></i> <a class="link" href="">Policies</a>
										</h5>
                                            <h5 class="text-left">
											<i class="fa fa-gift fa-fw"></i> <a class="link" href="">Thanks</a>
										</h5>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <h5 class="text-left">
											<i class="fa fa-archive fa-fw"></i> <a class="link" href="">Archives</a>
										</h5>
                                        </div>
                                    </div>
                                    <div class="footer-col col-md-4">
                                        <ul class="list-inline">
                                            <li><a href="https://twitter.com/" target="_blank" class="btn-social btn-outline"><i
												class="fa fa-fw fa-twitter"></i></a></li>
                                            <li><a href="" target="_blank" class="btn-social btn-outline"><i
												class="fa fa-fw fa-github"></i></a></li>
                                            <li><a href="" target="_blank" class="btn-social btn-outline"><i
												class="fa fa-fw fa-comments"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="footer-col col-md-4 google-search">
                                        <script>
                                            (function() {
                                                var cx = '004687894124070278856:-ryvp1pk0xi';
                                                var gcse = document
                                                    .createElement('script');
                                                gcse.type = 'text/javascript';
                                                gcse.async = true;
                                                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//cse.google.com/cse.js?cx=' + cx;
                                                var s = document
                                                    .getElementsByTagName('script')[0];
                                                s.parentNode.insertBefore(gcse, s);
                                            })();
                                        </script>
                                        <div id="___gcse_0">
                                            <div class="gsc-control-cse gsc-control-cse-en">
                                                <div class="gsc-control-wrapper-cse" dir="ltr">
                                                    <form class="gsc-search-box" accept-charset="utf-8">
                                                        <table cellspacing="0" cellpadding="0" class="gsc-search-box">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="gsc-input">
                                                                        <input autocomplete="off" type="text" size="10" class=" gsc-input" name="search" title="search" id="gsc-i-id1" x-webkit-speech="" x-webkit-grammar="builtin:search" lang="en" dir="ltr" spellcheck="false" style="outline: none; background: url(&quot;https://www.google.com/cse/static/en/google_custom_search_watermark.gif&quot;) left center no-repeat rgb(255, 255, 255);">
                                                                        <input type="hidden" name="bgresponse" id="bgresponse">
                                                                    </td>
                                                                    <td class="gsc-search-button">
                                                                        <input type="button" value="Search" class="gsc-search-button" title="search">
                                                                    </td>
                                                                    <td class="gsc-clear-button">
                                                                        <div class="gsc-clear-button" title="clear results">&nbsp;</div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table cellspacing="0" cellpadding="0" class="gsc-branding">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="gsc-branding-user-defined"></td>
                                                                    <td class="gsc-branding-text">
                                                                        <div class="gsc-branding-text">powered by</div>
                                                                    </td>
                                                                    <td class="gsc-branding-img"><img src="images/small-logo.png" class="gsc-branding-img"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </form>
                                                    <div class="gsc-results-wrapper-overlay">
                                                        <div class="gsc-results-close-btn" tabindex="0"></div>
                                                        <div class="gsc-tabsAreaInvisible">
                                                            <div class="gsc-tabHeader gsc-inline-block gsc-tabhActive">Custom Search
                                                            </div>
                                                            <span class="gs-spacer"> </span>
                                                        </div>
                                                        <div class="gsc-tabsAreaInvisible"></div>
                                                        <div class="gsc-above-wrapper-area-invisible">
                                                            <table cellspacing="0" cellpadding="0" class="gsc-above-wrapper-area-container">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="gsc-result-info-container">
                                                                            <div class="gsc-result-info-invisible"></div>
                                                                        </td>
                                                                        <td class="gsc-orderby-container">
                                                                            <div class="gsc-orderby-invisible">
                                                                                <div class="gsc-orderby-label gsc-inline-block">Sort by:
                                                                                </div>
                                                                                <div class="gsc-option-menu-container gsc-inline-block">
                                                                                    <div class="gsc-selected-option-container gsc-inline-block">
                                                                                        <div class="gsc-selected-option">Relevance</div>
                                                                                        <div class="gsc-option-selector"></div>
                                                                                    </div>
                                                                                    <div class="gsc-option-menu-invisible">
                                                                                        <div class="gsc-option-menu-item gsc-option-menu-item-highlighted">
                                                                                            <div class="gsc-option">Relevance</div>
                                                                                        </div>
                                                                                        <div class="gsc-option-menu-item">
                                                                                            <div class="gsc-option">Date</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="gsc-adBlockInvisible"></div>
                                                        <div class="gsc-wrapper">
                                                            <div class="gsc-adBlockInvisible"></div>
                                                            <div class="gsc-resultsbox-invisible">
                                                                <div class="gsc-resultsRoot gsc-tabData gsc-tabdActive">
                                                                    <table cellspacing="0" cellpadding="0" class="gsc-resultsHeader">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="gsc-twiddleRegionCell">
                                                                                    <div class="gsc-twiddle">
                                                                                        <div class="gsc-title">Web</div>
                                                                                    </div>
                                                                                    <div class="gsc-stats"></div>
                                                                                    <div class="gsc-results-selector gsc-all-results-active">
                                                                                        <div class="gsc-result-selector gsc-one-result" title="show one result">&nbsp;</div>
                                                                                        <div class="gsc-result-selector gsc-more-results" title="show more results">&nbsp;</div>
                                                                                        <div class="gsc-result-selector gsc-all-results" title="show all results">&nbsp;</div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="gsc-configLabelCell"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <div>
                                                                        <div class="gsc-expansionArea"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="gsc-modal-background-image" tabindex="0"></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-below">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        Copyright © SujitBehera 2016 | <a href="https://github.com/sujitbehera27" target="_blank">Connect
										with us</a>
                                    </div>
                                </div>
                            </div>
                        </div>