<section>
	<div class="leftRail last-child">
		<div class="leftRailContainer last-child">
			<div class="propertyVisualBlock" data-handler="PropertyVisualBlock"
				data-init="true">
				<ul class="tabs floatClear">
					<li class="tab active"><label class="last-child"><input
							type="radio" name="propertyVisualBlock" value="photos"
							class="last-child" checked="checked">Photos</label></li>
					<li class="tab"><label class="last-child"><input
							type="radio" name="propertyVisualBlock" value="streetView"
							class="last-child">Street View</label></li>
					<li class="tab last-child"><label class="last-child"><input
							type="radio" name="propertyVisualBlock" value="map"
							class="last-child">Map</label></li>
				</ul>
				<div class="content last-child"
					data-tab-group-name="propertyVisualBlock">
					<div class="tabContent" data-tab-name="photos"
						data-handler="PhotoViewer" data-init="true"
						style="display: block;">
						<div class="mainCarouselContainer last-child">
							<div class="largePhotoCarousel">
								<div class="owl-carousel owl-theme"
									style="opacity: 1; display: block;">
									<div class="owl-wrapper-outer last-child">
										<div class="owl-wrapper last-child"
											style="width: 20128px; left: 0px; display: block;">
											<div class="owl-item active" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img5.homefinder.com/i/e49e3868-d6db-11e6-975b-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img5.homefinder.com/i/e49e3868-d6db-11e6-975b-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 1"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img2.homefinder.com/i/70a81526-d6d8-11e6-ad5e-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img2.homefinder.com/i/70a81526-d6d8-11e6-ad5e-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 2"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img1.homefinder.com/i/62db3862-d6db-11e6-a7d2-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img1.homefinder.com/i/62db3862-d6db-11e6-a7d2-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 3"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img2.homefinder.com/i/dcde938a-d6da-11e6-b70b-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img2.homefinder.com/i/dcde938a-d6da-11e6-b70b-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 4"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img5.homefinder.com/i/e3e58fae-d6d9-11e6-b4d1-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img5.homefinder.com/i/e3e58fae-d6d9-11e6-b4d1-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 5"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img1.homefinder.com/i/ae2b3f58-d6d9-11e6-809e-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img1.homefinder.com/i/ae2b3f58-d6d9-11e6-809e-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 6"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img5.homefinder.com/i/35817938-d6dd-11e6-b5d5-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img5.homefinder.com/i/35817938-d6dd-11e6-b5d5-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 7"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img1.homefinder.com/i/769fd2e0-d6db-11e6-906d-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img1.homefinder.com/i/769fd2e0-d6db-11e6-906d-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 8"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img5.homefinder.com/i/5412cd4e-d6dc-11e6-9991-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img5.homefinder.com/i/5412cd4e-d6dc-11e6-9991-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 9"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img5.homefinder.com/i/692acd78-d6d5-11e6-8536-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img5.homefinder.com/i/692acd78-d6d5-11e6-8536-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 10"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img5.homefinder.com/i/3363e222-d6dc-11e6-87ab-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img5.homefinder.com/i/3363e222-d6dc-11e6-87ab-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 11"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img4.homefinder.com/i/59ee1614-d6d8-11e6-8f8c-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img4.homefinder.com/i/59ee1614-d6d8-11e6-8f8c-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 12"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img2.homefinder.com/i/bef33026-d6d8-11e6-ba7a-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img2.homefinder.com/i/bef33026-d6d8-11e6-ba7a-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 13"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img4.homefinder.com/i/a31d1ad6-d6d5-11e6-8255-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img4.homefinder.com/i/a31d1ad6-d6d5-11e6-8255-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 14"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img2.homefinder.com/i/88b04012-d6d8-11e6-8266-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img2.homefinder.com/i/88b04012-d6d8-11e6-8266-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 15"
														class="last-child">
												</div>
											</div>
											<div class="owl-item" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img3.homefinder.com/i/fe47c9c0-d6d9-11e6-89d3-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img3.homefinder.com/i/fe47c9c0-d6d9-11e6-89d3-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 16"
														class="last-child">
												</div>
											</div>
											<div class="owl-item last-child" style="width: 592px;">
												<div class="item last-child">
													<img itemprop="image"
														src="http://img3.homefinder.com/i/d45788be-d6d7-11e6-a092-ecf4bbed67d8/w592-h-q"
														data-src-full="http://img3.homefinder.com/i/d45788be-d6d7-11e6-a092-ecf4bbed67d8/w1280-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 17"
														class="last-child">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="navButton prev" data-activity-type="clickthru"
									data-activity-page-from="listing_details"
									data-activity-page-to="slide_show_additional_photos"></div>
								<div class="navButton next last-child"
									data-activity-type="clickthru"
									data-activity-page-from="listing_details"
									data-activity-page-to="slide_show_additional_photos"></div>
							</div>
							<div class="thumbPhotoCarouselWrapper last-child">
								<div class="owl-carousel owl-theme last-child"
									style="opacity: 1; display: block;">
									<div class="owl-wrapper-outer last-child">
										<div class="owl-wrapper last-child"
											style="width: 2788px; left: 0px; display: block;">
											<div class="owl-item synced" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img5.homefinder.com/i/e49e3868-d6db-11e6-975b-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 1">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img2.homefinder.com/i/70a81526-d6d8-11e6-ad5e-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 2">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img1.homefinder.com/i/62db3862-d6db-11e6-a7d2-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 3">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img2.homefinder.com/i/dcde938a-d6da-11e6-b70b-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 4">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img5.homefinder.com/i/e3e58fae-d6d9-11e6-b4d1-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 5">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img1.homefinder.com/i/ae2b3f58-d6d9-11e6-809e-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 6">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img5.homefinder.com/i/35817938-d6dd-11e6-b5d5-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 7">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img1.homefinder.com/i/769fd2e0-d6db-11e6-906d-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 8">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img5.homefinder.com/i/5412cd4e-d6dc-11e6-9991-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 9">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img5.homefinder.com/i/692acd78-d6d5-11e6-8536-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 10">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img5.homefinder.com/i/3363e222-d6dc-11e6-87ab-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 11">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img4.homefinder.com/i/59ee1614-d6d8-11e6-8f8c-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 12">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img2.homefinder.com/i/bef33026-d6d8-11e6-ba7a-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 13">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img4.homefinder.com/i/a31d1ad6-d6d5-11e6-8255-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 14">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img2.homefinder.com/i/88b04012-d6d8-11e6-8266-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 15">
												</div>
											</div>
											<div class="owl-item" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img3.homefinder.com/i/fe47c9c0-d6d9-11e6-89d3-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 16">
												</div>
											</div>
											<div class="owl-item last-child" style="width: 82px;">
												<div class="item last-child">
													<img class="last-child" itemprop="image"
														src="http://img3.homefinder.com/i/d45788be-d6d7-11e6-a092-ecf4bbed67d8/w64-h-q"
														title="" longdesc=""
														alt="120 Fulton St., Woodbridge, NJ 07095 Photo 17">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tabContent" data-tab-name="streetView"
						data-latitude="40.546131" data-longitude="-74.273193"
						style="display: none;">
						<div class="streetView"></div>
						<form name="drivingDirections" method="get"
							action="http://maps.google.com/maps" target="_blank"
							class="last-child">
							<input type="hidden" name="daddr"
								value="120 Fulton St., Woodbridge, NJ 07095"> <label
								for="daddr">Driving Directions </label> <input
								class="clearField blurField" name="saddr" type="text"
								value="Enter start address" rel="Enter start address"> <input
								class="btn last-child" type="submit" value="Get Directions">
						</form>
					</div>
					<div class="tabContent last-child" data-tab-name="map"
						data-latitude="40.546131" data-longitude="-74.273193"
						style="display: none;">
						<div class="mapView"></div>
						<form name="drivingDirections" method="get"
							action="http://maps.google.com/maps" target="_blank"
							class="last-child">
							<input type="hidden" name="daddr"
								value="120 Fulton St., Woodbridge, NJ 07095"> <label
								for="daddr">Driving Directions </label> <input
								class="clearField blurField" name="saddr" type="text"
								value="Enter start address" rel="Enter start address"> <input
								class="btn last-child" type="submit" value="Get Directions">
						</form>
					</div>
				</div>
			</div>
			<div class="textLinks floatClear">
				<div class="btn secondary" id="div-gpt-ad-1393349812656-0"
					data-google-query-id="CJKvl_qxudECFWe4swod7EoKvQ">
					<script class="last-child">
						googletag.cmd.push(function() {
							googletag.display("div-gpt-ad-1393349812656-0");
						});
					</script>
					<div
						id="google_ads_iframe_/1039964/DP_TxtLink_btn_Left_0__container__"
						style="border: 0pt none;">
						<iframe id="google_ads_iframe_/1039964/DP_TxtLink_btn_Left_0"
							title="3rd party ad content"
							name="google_ads_iframe_/1039964/DP_TxtLink_btn_Left_0"
							width="285" height="35" scrolling="no" marginwidth="0"
							marginheight="0" frameborder="0" srcdoc=""
							style="border: 0px; vertical-align: bottom;"></iframe>
					</div>
				</div>
				<div class="btn secondary last-child"
					id="div-gpt-ad-1393349748279-0"
					data-google-query-id="CJGvl_qxudECFWe4swod7EoKvQ">
					<script class="last-child">
						googletag.cmd.push(function() {
							googletag.display("div-gpt-ad-1393349748279-0");
						});
					</script>
					<div
						id="google_ads_iframe_/1039964/DP_TxtLink_btn_Right_0__container__"
						style="border: 0pt none;">
						<iframe id="google_ads_iframe_/1039964/DP_TxtLink_btn_Right_0"
							title="3rd party ad content"
							name="google_ads_iframe_/1039964/DP_TxtLink_btn_Right_0"
							width="285" height="35" scrolling="no" marginwidth="0"
							marginheight="0" frameborder="0" srcdoc=""
							style="border: 0px; vertical-align: bottom;"></iframe>
					</div>
				</div>
			</div>
			<div class="description floatClear">
				<header>
					<h2 class="last-child">
						<span class="last-child">Description</span>
					</h2>
				</header>
				<p itemprop="description">
					This property is eligible under the Freddie Mac First look
					initiative through 1/26/17. This custom ranch is ready to go.
					Updated furnace HWBB, with freshly painted interior and gleaming
					hardwood floors. The basement is full with high overhead. EIK with
					separate dining area available. The price is right, mske your
					appointment. "R". <a
						class="deepLinkExternalUrl deepLink last-child"
						data-activity-type="lead" data-activity-sub-type="website"
						rev="external_lead" name="EXTERNAL_DETAILS"
						href="http://listhub.century21.com/pages/RFGC21/8BSYNK/?channel=homescape"
						target="_blank" rel="nofollow"> Click here to learn more about
						this listing.. </a>
				</p>
				<ul>
					<li>MLS ID# 1708907</li>
					<li>Year Built: n/a</li>
					<li class="last-child">1 Days on site</li>
				</ul>
				<ul class="last-child">
					<li>Single Family Home</li>
					<li>Beds: 3</li>
					<li class="last-child">Baths: 1 Full</li>
				</ul>
			</div>
			<div class="listingDetails floatClear">
				<header>
					<h2 class="last-child">Listing Details</h2>
				</header>
				<ul class="tabs">
					<li class="tab active"><label class="last-child"><input
							type="radio" name="listingDetails" value="exteriorDetails"
							class="last-child" checked="checked">Exterior</label></li>
					<li class="tab last-child"><label class="last-child"><input
							type="radio" name="listingDetails" value="publicFacts"
							class="last-child">Public Facts</label></li>
				</ul>
				<div data-tab-group-name="listingDetails">
					<div data-tab-name="exteriorDetails" class="tabContent last-child"
						style="display: block;">
						<div class="attributes last-child">
							<dl class="floatClear last-child">
								<dt>Architecture</dt>
								<dd class="last-child">Ranch</dd>
							</dl>
						</div>
					</div>
				</div>
				<div data-tab-group-name="listingDetails" class="last-child">
					<div data-tab-name="publicFacts" class="tabContent last-child"
						style="display: none;">
						<div class="attributes last-child">
							<dl class="floatClear">
								<dt>Assessed Taxable Amount</dt>
								<dd class="last-child">$69,800</dd>
							</dl>
							<dl class="floatClear">
								<dt>Tax Amount</dt>
								<dd class="last-child">$7,477</dd>
							</dl>
							<dl class="floatClear">
								<dt>Last Transaction Date</dt>
								<dd class="last-child">01/27/2016</dd>
							</dl>
							<dl class="floatClear">
								<dt>Last Transaction Purchase Price</dt>
								<dd class="last-child">$100</dd>
							</dl>
							<dl class="floatClear">
								<dt>Property Type</dt>
								<dd class="last-child">Single Family Residence</dd>
							</dl>
							<dl class="floatClear">
								<dt>Floors</dt>
								<dd class="last-child">1</dd>
							</dl>
							<dl class="floatClear">
								<dt>Home Size (Sqft)</dt>
								<dd class="last-child">1,280</dd>
							</dl>
							<dl class="floatClear">
								<dt>Lot Size (Sqft)</dt>
								<dd class="last-child">5,300</dd>
							</dl>
							<dl class="floatClear">
								<dt>Lot Size (Acres)</dt>
								<dd class="last-child">0.12</dd>
							</dl>
							<dl class="floatClear">
								<dt>Year Built</dt>
								<dd class="last-child">1962</dd>
							</dl>
							<dl class="floatClear">
								<dt>Units</dt>
								<dd class="last-child">1</dd>
							</dl>
							<dl class="floatClear">
								<dt>Parking</dt>
								<dd class="last-child">Garage</dd>
							</dl>
							<dl class="floatClear">
								<dt>Exterior Type</dt>
								<dd class="last-child">Wood</dd>
							</dl>
							<p class="last-child">Public Facts: As provided by County
								Assessor and Recorder offices. May not reflect recent additions
								or improvements. If you see any errors, the best way to get the
								records updated is to contact your local county records office.
								If any of the information in this section conflicts with
								property information provided by a listing agent or broker,
								agent-provided information should be deemed more reliable.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="localInfo floatClear">
				<header>
					<h2 class="last-child">Local Info</h2>
				</header>
				<ul class="tabs">
					<li class="tab active"><label class="last-child"><input
							type="radio" name="localInfo" value="localStats"
							class="last-child" checked="checked">Local Stats</label></li>
					<li class="tab last-child"><label class="last-child"><input
							type="radio" name="localInfo" value="schools" class="last-child">Schools</label>
					</li>
				</ul>
				<div data-tab-group-name="localInfo">
					<div data-tab-name="localStats" class="tabContent last-child"
						style="display: block;">
						<div class="attributes last-child">
							<table class="localStats last-child">
								<tbody class="last-child">
									<tr>
										<td>
											<div class="population">Population</div>
											<div class="value last-child">19,543</div>
										</td>
										<td>Median Household Income
											<div class="value last-child">$75,614</div>
										</td>
										<td class="last-child">Median Years In Residence
											<div class="value last-child">8</div>
										</td>
									</tr>
									<tr class="last-child">
										<td>Median Homeowner Age
											<div class="value last-child">37</div>
										</td>
										<td>Households with Children
											<div class="value last-child">40.96%</div>
										</td>
										<td class="last-child">Percent of Homes Rented
											<div class="value last-child">36.39%</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div data-tab-group-name="localInfo" class="last-child">
					<div data-tab-name="schools" class="tabContent last-child"
						style="display: none;">
						<div class="attributes last-child">
							<div class="schools last-child">
								<h4>Nearby Elementary Schools</h4>
								<dl class="floatClear" itemscope=""
									itemtype="http://schema.org/ElementarySchool">
									<dt>
										<a
											href="http://www.homefinder.com/school/St-James-School~Woodbridge-c9c9dcc2e86d174c88d6ceaf86153a0f"
											itemprop="url" class="last-child"> <span itemprop="name"
											class="last-child">St James School-Woodbridge</span>
										</a>
									</dt>
									<dd itemscope="" itemtype="http://schema.org/PostalAddress"
										class="last-child">
										<span itemprop="streetAddress" class="last-child">341
											Amboy Ave</span>
									</dd>
								</dl>
								<dl class="floatClear" itemscope=""
									itemtype="http://schema.org/ElementarySchool">
									<dt>
										<a
											href="http://www.homefinder.com/school/Ross-Street-Elementary-School-95759fffed8da5d5060401b8f809662e"
											itemprop="url" class="last-child"> <span itemprop="name"
											class="last-child">Ross Street Elementary School</span>
										</a>
									</dt>
									<dd itemscope="" itemtype="http://schema.org/PostalAddress"
										class="last-child">
										<span itemprop="streetAddress" class="last-child">Ross
											St</span>
									</dd>
								</dl>
								<dl class="floatClear" itemscope=""
									itemtype="http://schema.org/ElementarySchool">
									<dt>
										<a
											href="http://www.homefinder.com/school/Rainbow-Academy-Woodbridge-63cd6becb0a7cc17e1ad6faf55ea9e40"
											itemprop="url" class="last-child"> <span itemprop="name"
											class="last-child">Rainbow Academy Woodbridge</span>
										</a>
									</dt>
									<dd itemscope="" itemtype="http://schema.org/PostalAddress"
										class="last-child">
										<span itemprop="streetAddress" class="last-child">458
											Amboy Ave Ste 1</span>
									</dd>
								</dl>
								<h4>Nearby Primary Schools</h4>
								<dl class="floatClear" itemscope=""
									itemtype="http://schema.org/ElementarySchool">
									<dt>
										<a
											href="http://www.homefinder.com/school/Edmund-Hmieleski-Early-Childhood-Center-cdfebc74c8ce255318e3bdb38257dca2"
											itemprop="url" class="last-child"> <span itemprop="name"
											class="last-child">Edmund Hmieleski Early Childhood
												Center</span>
										</a>
									</dt>
									<dd itemscope="" itemtype="http://schema.org/PostalAddress"
										class="last-child">
										<span itemprop="streetAddress" class="last-child">925
											Amboy Ave</span>
									</dd>
								</dl>
								<dl class="floatClear" itemscope=""
									itemtype="http://schema.org/ElementarySchool">
									<dt>
										<a
											href="http://www.homefinder.com/school/Ignacio-Cruz-Early-Childhood-Center-65a61aa793566d5f801974d4569d2d45"
											itemprop="url" class="last-child"> <span itemprop="name"
											class="last-child">Ignacio Cruz Early Childhood Center</span>
										</a>
									</dt>
									<dd itemscope="" itemtype="http://schema.org/PostalAddress"
										class="last-child">
										<span itemprop="streetAddress" class="last-child">581
											Cortlandt St</span>
									</dd>
								</dl>
								<dl class="floatClear" itemscope=""
									itemtype="http://schema.org/ElementarySchool">
									<dt>
										<a
											href="http://www.homefinder.com/school/Perth-Amboy-Early-Childhood-Center-6419c1118b91c7828d6e8e2d9b4629d3"
											itemprop="url" class="last-child"> <span itemprop="name"
											class="last-child">Perth Amboy Early Childhood Center</span>
										</a>
									</dt>
									<dd itemscope="" itemtype="http://schema.org/PostalAddress"
										class="last-child">
										<span itemprop="streetAddress" class="last-child">333
											High St</span>
									</dd>
								</dl>
								<h4>Nearby Middle Schools</h4>
								<dl class="floatClear" itemscope=""
									itemtype="http://schema.org/ElementarySchool">
									<dt>
										<a
											href="http://www.homefinder.com/school/Middlesex-County-Voc-Acad-Allied-Health--and--Biomedic-3bf9343ef568e32857f6e826c06e5018"
											itemprop="url" class="last-child"> <span itemprop="name"
											class="last-child">Middlesex County Voc Acad Allied
												Health &amp; Biomedic</span>
										</a>
									</dt>
									<dd itemscope="" itemtype="http://schema.org/PostalAddress"
										class="last-child">
										<span itemprop="streetAddress" class="last-child">1
											Convery Blvd</span>
									</dd>
								</dl>
								<dl class="floatClear" itemscope=""
									itemtype="http://schema.org/ElementarySchool">
									<dt>
										<a
											href="http://www.homefinder.com/school/St-James-School~Woodbridge-c9c9dcc2e86d174c88d6ceaf86153a0f"
											itemprop="url" class="last-child"> <span itemprop="name"
											class="last-child">St James School-Woodbridge</span>
										</a>
									</dt>
									<dd itemscope="" itemtype="http://schema.org/PostalAddress"
										class="last-child">
										<span itemprop="streetAddress" class="last-child">341
											Amboy Ave</span>
									</dd>
								</dl>
								<dl class="floatClear" itemscope=""
									itemtype="http://schema.org/ElementarySchool">
									<dt>
										<a
											href="http://www.homefinder.com/school/Woodbridge-Middle-School-b32c1516521b31efa1f537caa728af36"
											itemprop="url" class="last-child"> <span itemprop="name"
											class="last-child">Woodbridge Middle School</span>
										</a>
									</dt>
									<dd itemscope="" itemtype="http://schema.org/PostalAddress"
										class="last-child">
										<span itemprop="streetAddress" class="last-child">525
											Barron Ave</span>
									</dd>
								</dl>
								<h4>Nearby High Schools</h4>
								<dl class="floatClear" itemscope=""
									itemtype="http://schema.org/ElementarySchool">
									<dt>
										<a
											href="http://www.homefinder.com/school/Middlesex-County-Voc-Acad-Allied-Health--and--Biomedic-3bf9343ef568e32857f6e826c06e5018"
											itemprop="url" class="last-child"> <span itemprop="name"
											class="last-child">Middlesex County Voc Acad Allied
												Health &amp; Biomedic</span>
										</a>
									</dt>
									<dd itemscope="" itemtype="http://schema.org/PostalAddress"
										class="last-child">
										<span itemprop="streetAddress" class="last-child">1
											Convery Blvd</span>
									</dd>
								</dl>
								<dl class="floatClear" itemscope=""
									itemtype="http://schema.org/ElementarySchool">
									<dt>
										<a
											href="http://www.homefinder.com/school/Woodbridge-High-School-6db8a58fdb84fd1e8ca5a3e08df7d68e"
											itemprop="url" class="last-child"> <span itemprop="name"
											class="last-child">Woodbridge High School</span>
										</a>
									</dt>
									<dd itemscope="" itemtype="http://schema.org/PostalAddress"
										class="last-child">
										<span itemprop="streetAddress" class="last-child">25
											Samuel Lupo Pl</span>
									</dd>
								</dl>
								<dl class="floatClear" itemscope=""
									itemtype="http://schema.org/ElementarySchool">
									<dt>
										<a
											href="http://www.homefinder.com/school/Perth-Amboy-High-School-12fb53c313d95d0a71047949ee661cee"
											itemprop="url" class="last-child"> <span itemprop="name"
											class="last-child">Perth Amboy High School</span>
										</a>
									</dt>
									<dd itemscope="" itemtype="http://schema.org/PostalAddress"
										class="last-child">
										<span itemprop="streetAddress" class="last-child">Eagle
											Ave And Francis St</span>
									</dd>
								</dl>
								<p class="footnote last-child">These are the closest schools
									to your requested location. Proximity does not guarantee
									enrollment eligibility. Please consult your real estate agent
									or school district to confirm the schools you are zoned to
									attend.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mortgageRatesWidget floatClear"
				data-handler="MortgageRatesWidget" data-init="true">
				<h2>Mortgage Rates</h2>
				<ul class="tabs">
					<li class="tab active"><label class="last-child"><input
							type="radio" name="rateType" value="PERIOD_FIXED_30YEARS"
							class="last-child" checked="checked">30 Year Fixed</label></li>
					<li class="tab"><label class="last-child"><input
							type="radio" name="rateType" value="PERIOD_FIXED_15YEARS"
							class="last-child">15 Year Fixed</label></li>
					<li class="tab last-child"><label class="last-child"><input
							type="radio" name="rateType" value="PERIOD_ARM_5YEARS"
							class="last-child">5 Year ARM</label></li>
				</ul>
				<div class="ratesTableContainer" style="height: 214px;">
					<div class="loading" style="display: none;">Loading rates...
					</div>
					<div class="ratesTable last-child">
						<table>
							<tbody>
								<tr>
									<th>Lender</th>
									<th class="numeric">APR</th>
									<th class="numeric">Monthly</th>
									<th>Rate Contact</th>
								</tr>


								<tr>
									<td><a
										href="http://mortgagerates.icanbuy.com/api/click/index/searchID/1556205889033371004/lenderid/1362692608/click/logo/siteid/de5813581a074fa6/CampaignID/381/Sponsored/Yes/locationID/36/programtype/0"
										class="mortgageLender" target="_blank" rel="nofollow">AimLoan.com
											NMLS#2890</a>
										<div>NMLS #2890</div></td>
									<td>
										<div>3.927%</div>
										<div>Sponsored</div>
									</td>
									<td>
										<div>$814</div>

									</td>
									<td><a
										href="http://mortgagerates.icanbuy.com/api/click/index/searchID/1556205889033371004/lenderid/1362692608/click/logo/siteid/de5813581a074fa6/CampaignID/381/Sponsored/Yes/locationID/36/programtype/0"
										rel="nofollow external" data-category="Outgoing link"
										data-action="Click"
										data-label="DP mortgage rates - learn more" target="_blank">Learn
											More</a>
										<div></div></td>
								</tr>

								<tr>
									<td><a
										href="http://mortgagerates.icanbuy.com/api/click/index/searchID/1556205889033371004/lenderid/1362692608/click/logo/siteid/de5813581a074fa6/CampaignID/381/Sponsored/No/locationID/36/programtype/0"
										class="mortgageLender" target="_blank" rel="nofollow">AimLoan.com
											NMLS#2890</a>
										<div>NMLS #2890</div></td>
									<td>
										<div>3.927%</div>

									</td>
									<td>
										<div>$814</div>

									</td>
									<td><a
										href="http://mortgagerates.icanbuy.com/api/click/index/searchID/1556205889033371004/lenderid/1362692608/click/logo/siteid/de5813581a074fa6/CampaignID/381/Sponsored/No/locationID/36/programtype/0"
										rel="nofollow external" data-category="Outgoing link"
										data-action="Click"
										data-label="DP mortgage rates - learn more" target="_blank">Learn
											More</a>
										<div></div></td>
								</tr>

								<tr>
									<td><a
										href="http://mortgagerates.icanbuy.com/api/click/index/searchID/1556205889033371004/lenderid/1399571251222/click/logo/siteid/de5813581a074fa6/CampaignID/771/Sponsored/No/locationID/36/programtype/0"
										class="mortgageLender" target="_blank" rel="nofollow">Quicken
											Loans NMLS #3030</a>
										<div>NMLS #3030</div></td>
									<td>
										<div>4.297%</div>

									</td>
									<td>
										<div>$852</div>

									</td>
									<td><a
										href="http://mortgagerates.icanbuy.com/api/click/index/searchID/1556205889033371004/lenderid/1399571251222/click/logo/siteid/de5813581a074fa6/CampaignID/771/Sponsored/No/locationID/36/programtype/0"
										rel="nofollow external" data-category="Outgoing link"
										data-action="Click"
										data-label="DP mortgage rates - learn more" target="_blank">Learn
											More</a>
										<div></div></td>
								</tr>

								<tr>
									<td><a
										href="http://mortgagerates.icanbuy.com/api/click/index/searchID/1556205889033371004/lenderid/1362503857/click/logo/siteid/de5813581a074fa6/CampaignID/249/Sponsored/No/locationID/36/programtype/0"
										class="mortgageLender" target="_blank" rel="nofollow">Rocket
											Mortgage</a>
										<div>NMLS #3030</div></td>
									<td>
										<div>4.297%</div>

									</td>
									<td>
										<div>$852</div>

									</td>
									<td><a
										href="http://mortgagerates.icanbuy.com/api/click/index/searchID/1556205889033371004/lenderid/1362503857/click/logo/siteid/de5813581a074fa6/CampaignID/249/Sponsored/No/locationID/36/programtype/0"
										rel="nofollow external" data-category="Outgoing link"
										data-action="Click"
										data-label="DP mortgage rates - learn more" target="_blank">Learn
											More</a>
										<div></div></td>
								</tr>



							</tbody>
						</table>
					</div>
				</div>
				<div class="rateDetailsLinkContainer last-child">
					<a class="btn secondary moreLenders" data-category="Details Page"
						data-action="Click"
						data-label="mortgage center - more lenders and rates"
						href="/mortgage/?zip=07095&amp;propertyValue=219900&amp;downPaymentPercent=20">
						More Lenders and Rates </a>
					<p class="last-child">
						Data provided by Informa Research Services. Payments do not
						include amounts for taxes and insurance premiums. The actual
						payment obligation will be greater if taxes and insurance are
						included. Click <a
							href="https://widgets.informars.com/disclaimer.htm"
							target="_blank" class="last-child">here</a> for more information
						on rates and product details.
					</p>
				</div>
			</div>
			<div class="nearbyPropertiesWrapper"
				data-handler="NearbyListingsAndSales" data-latitude="40.546131"
				data-longitude="-74.273193" data-init="true">
				<h2>Nearby Properties</h2>

				<ul class="tabs floatClear">


					<li class="tab active"><label><input type="radio"
							name="nearbyListingsAndSales" value="listings" checked="checked">For
							Sale</label></li>



					<li class="tab "><label><input type="radio"
							name="nearbyListingsAndSales" value="recentSales">Recently
							Sold</label></li>


				</ul>

				<div class="content" data-tab-group-name="nearbyListingsAndSales">



					<div class="tabContent" data-tab-name="listings">
						<div class="nearbyListingsAndSales">
							<div class="row floatClear">

								<div class="listingInformation">
									<div class="photoContainer">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/111-Fulton-St-143091037d">
											<img alt="111 Fulton St. Photo" class="propertyPhoto"
											src="http://img1.homefinder.com/i/3c8fcbec-d469-11e6-90f1-ecf4bbed67d8/w150-h-q.jpg">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/111-Fulton-St-143091037d">111
											Fulton St.</a>

									</div>

									<p class="price">$159,900</p>

									<p>

										<span class="beds">2 bed, </span> <span class="baths">2
											bath</span>

									</p>

									<p>Single Family Home</p>

								</div>


								<div class="listingInformation">
									<div class="photoContainer">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/155-Strawberry-Hill-Avenue-142587529d">
											<img alt="155 Strawberry Hill Avenue Photo"
											class="propertyPhoto"
											src="http://img5.homefinder.com/i/232f7e42-d3fe-11e6-946b-ecf4bbed67d8/w150-h-q.jpg">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/155-Strawberry-Hill-Avenue-142587529d">155
											Strawberry Hill Avenue</a>

									</div>

									<p class="price">$1,500</p>

									<p>

										<span class="beds">2 bed, </span> <span class="baths">1
											bath</span>

									</p>

									<p>Single Family Home</p>

								</div>


								<div class="listingInformation">
									<div class="photoContainer">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/59-Cutters-Dock-Rd-142742633d">
											<img alt="59 Cutters Dock Rd. Photo" class="propertyPhoto"
											src="http://img4.homefinder.com/i/955f908a-d3fc-11e6-b78d-ecf4bbed67d8/w150-h-q.jpg">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/59-Cutters-Dock-Rd-142742633d">59
											Cutters Dock Rd.</a>

									</div>

									<p class="price">$179,900</p>

									<p>

										<span class="beds">3 bed, </span> <span class="baths">1
											bath</span>

									</p>

									<p>Single Family Home</p>

								</div>


								<div class="listingInformation">
									<div class="photoContainer">

										<a
											href="http://www.homefinder.com/NJ/Colonia/11-Liam-Ct-132088755d">
											<img alt="11 Liam Ct. Photo" class="propertyPhoto"
											src="http://img1.homefinder.com/i/fae1fbc6-d7a0-11e6-a05d-ecf4bbed67d8/w150-h-q.jpg">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Colonia/11-Liam-Ct-132088755d">11
											Liam Ct.</a>

									</div>

									<p class="price">$599,900</p>

									<p>

										<span class="beds">4 bed, </span> <span class="baths">2
											bath</span>

									</p>

									<p>Single Family Home</p>

								</div>

							</div>
							<div class="row floatClear">


								<div class="listingInformation">
									<div class="photoContainer">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/101-Cricket-Ln-101-142563613d">
											<img alt="101 Cricket Ln. Photo" class="propertyPhoto"
											src="http://img5.homefinder.com/i/1a54428e-d436-11e6-8113-ecf4bbed67d8/w150-h-q.jpg">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/101-Cricket-Ln-101-142563613d">101
											Cricket Ln.</a>

									</div>

									<p class="price">$1,575</p>

									<p>

										<span class="beds">2 bed, </span> <span class="baths">1
											bath</span>

									</p>

									<p>Single Family Home</p>

								</div>


								<div class="listingInformation">
									<div class="photoContainer">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/639-Cricket-Ln-639-140602081d">
											<img alt="639 Cricket Ln. Photo" class="propertyPhoto"
											src="http://img4.homefinder.com/i/4087e926-d416-11e6-b972-ecf4bbed67d8/w150-h-q.jpg">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/639-Cricket-Ln-639-140602081d">639
											Cricket Ln.</a>

									</div>

									<p class="price">$1,290</p>

									<p>

										<span class="beds">1 bed, </span> <span class="baths">1
											bath</span>

									</p>

									<p>Single Family Home</p>

								</div>


								<div class="listingInformation">
									<div class="photoContainer">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/9-Legion-Pl-142768661d">
											<img alt="9 Legion Pl. Photo" class="propertyPhoto"
											src="http://img2.homefinder.com/i/fd710660-c815-11e6-bb54-ecf4bbed67d8/w150-h-q.jpg">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/9-Legion-Pl-142768661d">9
											Legion Pl.</a>

									</div>

									<p class="price">$229,000</p>

									<p>

										<span class="beds">3 bed, </span> <span class="baths">1
											bath</span>

									</p>

									<p>Single Family Home</p>

								</div>


								<div class="listingInformation">
									<div class="photoContainer">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/23-Legion-Pl-141754591d">
											<img alt="23 Legion Pl. Photo" class="propertyPhoto"
											src="http://img5.homefinder.com/i/9bd7e250-d3fc-11e6-955a-ecf4bbed67d8/w150-h-q.jpg">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/23-Legion-Pl-141754591d">23
											Legion Pl.</a>

									</div>

									<p class="price">$189,999</p>

									<p>

										<span class="beds">3 bed, </span> <span class="baths">1
											bath</span>

									</p>

									<p>Single Family Home</p>

								</div>


							</div>
						</div>
					</div>



					<div class="tabContent" data-tab-name="recentSales">
						<div class="nearbyListingsAndSales">
							<div class="row floatClear">

								<div class="listingInformation">
									<div class="photoContainer">

										<div class="soldIndicator">SOLD</div>

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/70-Coley-St-ae7fb7de37900594029b16f67161ce32h">
											<img alt="70 Coley St Photo" class="propertyPhoto"
											src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCdPAfXsr51Cz9Y9jxqQauAROueuVUWcvM&amp;center=40.552309%2C-74.278414&amp;markers=icon%3Ahttp%3A%2F%2Fwww.homefinder.com%2Fmedia%2Fimage%2FlilPin.png%7C40.552309%2C-74.278414&amp;size=118x78&amp;zoom=10&amp;scalebar=false">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/70-Coley-St-ae7fb7de37900594029b16f67161ce32h">70
											Coley St</a>

									</div>

									<p class="price">$200,000</p>

									<p></p>

									<p>Single Family Residence</p>

								</div>


								<div class="listingInformation">
									<div class="photoContainer">

										<div class="soldIndicator">SOLD</div>

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/310-Columbus-Ave-7ead44b082bfefb5721cf6b698e0737ah">
											<img alt="310 Columbus Ave Photo" class="propertyPhoto"
											src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCdPAfXsr51Cz9Y9jxqQauAROueuVUWcvM&amp;center=40.550426%2C-74.283214&amp;markers=icon%3Ahttp%3A%2F%2Fwww.homefinder.com%2Fmedia%2Fimage%2FlilPin.png%7C40.550426%2C-74.283214&amp;size=118x78&amp;zoom=10&amp;scalebar=false">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/310-Columbus-Ave-7ead44b082bfefb5721cf6b698e0737ah">310
											Columbus Ave</a>

									</div>

									<p class="price">$202,000</p>

									<p></p>

									<p>Single Family Residence</p>

								</div>


								<div class="listingInformation">
									<div class="photoContainer">

										<div class="soldIndicator">SOLD</div>

										<a
											href="http://www.homefinder.com/NJ/Sewaren/68-S-Robert-St-8c543f323cb0d086598c5515eb7b29bah">
											<img alt="68 S Robert St Photo" class="propertyPhoto"
											src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCdPAfXsr51Cz9Y9jxqQauAROueuVUWcvM&amp;center=40.551489%2C-74.261115&amp;markers=icon%3Ahttp%3A%2F%2Fwww.homefinder.com%2Fmedia%2Fimage%2FlilPin.png%7C40.551489%2C-74.261115&amp;size=118x78&amp;zoom=10&amp;scalebar=false">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Sewaren/68-S-Robert-St-8c543f323cb0d086598c5515eb7b29bah">68
											S Robert St</a>

									</div>

									<p class="price">$219,900</p>

									<p></p>

									<p>Single Family Residence</p>

								</div>


								<div class="listingInformation">
									<div class="photoContainer">

										<div class="soldIndicator">SOLD</div>

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/568-Bamford-Ave-21efe982cbdd57d9ef5d2faa3824d156h">
											<img alt="568 Bamford Ave Photo" class="propertyPhoto"
											src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCdPAfXsr51Cz9Y9jxqQauAROueuVUWcvM&amp;center=40.560191%2C-74.270741&amp;markers=icon%3Ahttp%3A%2F%2Fwww.homefinder.com%2Fmedia%2Fimage%2FlilPin.png%7C40.560191%2C-74.270741&amp;size=118x78&amp;zoom=10&amp;scalebar=false">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/568-Bamford-Ave-21efe982cbdd57d9ef5d2faa3824d156h">568
											Bamford Ave</a>

									</div>

									<p class="price">$219,900</p>

									<p>

										<span class="beds">3 bed</span>


									</p>

									<p>Single Family Residence</p>

								</div>

							</div>
							<div class="row floatClear">


								<div class="listingInformation">
									<div class="photoContainer">

										<div class="soldIndicator">SOLD</div>

										<a
											href="http://www.homefinder.com/NJ/Perth-Amboy/442-Bruck-Ave-69649e4c6494945a42721eb3da8be434h">
											<img alt="442 Bruck Ave Photo" class="propertyPhoto"
											src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCdPAfXsr51Cz9Y9jxqQauAROueuVUWcvM&amp;center=40.529065%2C-74.273357&amp;markers=icon%3Ahttp%3A%2F%2Fwww.homefinder.com%2Fmedia%2Fimage%2FlilPin.png%7C40.529065%2C-74.273357&amp;size=118x78&amp;zoom=10&amp;scalebar=false">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Perth-Amboy/442-Bruck-Ave-69649e4c6494945a42721eb3da8be434h">442
											Bruck Ave</a>

									</div>

									<p class="price">$175,000</p>

									<p></p>

									<p>Single Family Residence</p>

								</div>


								<div class="listingInformation">
									<div class="photoContainer">

										<div class="soldIndicator">SOLD</div>

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/229-Martool-Dr-5b940807e51e2c9aa3f868f5bd8b4035h">
											<img alt="229 Martool Dr Photo" class="propertyPhoto"
											src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCdPAfXsr51Cz9Y9jxqQauAROueuVUWcvM&amp;center=40.556168%2C-74.288581&amp;markers=icon%3Ahttp%3A%2F%2Fwww.homefinder.com%2Fmedia%2Fimage%2FlilPin.png%7C40.556168%2C-74.288581&amp;size=118x78&amp;zoom=10&amp;scalebar=false">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Woodbridge/229-Martool-Dr-5b940807e51e2c9aa3f868f5bd8b4035h">229
											Martool Dr</a>

									</div>

									<p class="price">$299,250</p>

									<p></p>

									<p>Single Family Residence</p>

								</div>


								<div class="listingInformation">
									<div class="photoContainer">

										<div class="soldIndicator">SOLD</div>

										<a
											href="http://www.homefinder.com/NJ/Sewaren/189-Old-Rd-784da7d18df78aa991fa9ed9e60f3bdbh">
											<img alt="189 Old Rd Photo" class="propertyPhoto"
											src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCdPAfXsr51Cz9Y9jxqQauAROueuVUWcvM&amp;center=40.558911%2C-74.258254&amp;markers=icon%3Ahttp%3A%2F%2Fwww.homefinder.com%2Fmedia%2Fimage%2FlilPin.png%7C40.558911%2C-74.258254&amp;size=118x78&amp;zoom=10&amp;scalebar=false">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Sewaren/189-Old-Rd-784da7d18df78aa991fa9ed9e60f3bdbh">189
											Old Rd</a>

									</div>

									<p class="price">$135,000</p>

									<p></p>

									<p>Single Family Residence</p>

								</div>


								<div class="listingInformation">
									<div class="photoContainer">

										<div class="soldIndicator">SOLD</div>

										<a
											href="http://www.homefinder.com/NJ/Perth-Amboy/801-Robbins-St-114fd356771d66076706348b9da86c05h">
											<img alt="801 Robbins St Photo" class="propertyPhoto"
											src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCdPAfXsr51Cz9Y9jxqQauAROueuVUWcvM&amp;center=40.531244%2C-74.286457&amp;markers=icon%3Ahttp%3A%2F%2Fwww.homefinder.com%2Fmedia%2Fimage%2FlilPin.png%7C40.531244%2C-74.286457&amp;size=118x78&amp;zoom=10&amp;scalebar=false">
										</a>
									</div>
									<div class="address">

										<a
											href="http://www.homefinder.com/NJ/Perth-Amboy/801-Robbins-St-114fd356771d66076706348b9da86c05h">801
											Robbins St</a>

									</div>

									<p class="price">$76,000</p>

									<p></p>

									<p>Single Family Residence</p>

								</div>


							</div>
						</div>
					</div>



				</div>
			</div>
			<div>
				<h2>Property Contact Info</h2>
				<div
					class="requiredContactInformation contactInformation floatClear last-child"
					itemscope="" itemtype="http://schema.org/RealEstateAgent">
					<div class="contactDetails last-child">
						<div class="requiredPartyBroker">
							Listing Provided By: <a
								href="http://www.homefinder.com/broker/CENTURY-21-Charles-Smith-Agency-Inc-2073488d/"
								itemprop="brand" data-category="Details Page"
								data-action="Click"
								data-label="more listings - property contact info - bottom"
								class="last-child"> CENTURY 21 Charles Smith Agency, Inc. </a>
						</div>
						<div itemprop="telephone">(732) 985-1515</div>
						<div class="requiredPartyAgent last-child">
							Listing Agent: <a
								href="http://www.homefinder.com/agent/Mitchell-Schanen-2251640d/"
								itemprop="member" data-category="Details Page"
								data-action="Click"
								data-label="more listings - property contact info - bottom"
								class="last-child"> Mitchell Schanen </a>
						</div>
					</div>
				</div>
			</div>
			<div id="siteTracking" class=""></div>
			<div class="contactAdvertiserForm" data-handler="ContactForm"
				data-init="true">
				<h2>Need More Information?</h2>
				<p>Please fill out this form to request more photos or more
					information regarding this property.</p>
				<form class="productLeadForm last-child" name="detailsLeadForm"
					action="http://www.homefinder.com/NJ/Woodbridge/120-Fulton-St-143157448d"
					method="post" data-pagelocation="overlay" novalidate="novalidate">
					<input class="antiSpamAuthKey" type="text" name="antiSpamAuthKey"
						value="gs749XCxkVfHzPSd2KcDeWmQthTBuW7zwPrX6pcHZfRGtVJCaUFM5j864qJ3D9vQpsZmNTSAFNgkaGnEbwKnEy3YAh2Yj8MBbdUy"
						disabled=""> <input type="hidden" name="id"
						value="143157448">
					<div class="formRow floatClear">
						<label for="firstName">First Name:</label> <input name="firstName"
							type="text" class="last-child">
					</div>
					<div class="formRow floatClear">
						<label for="lastName">Last Name:</label> <input name="lastName"
							type="text" class="last-child">
					</div>
					<div class="formRow floatClear">
						<label for="email">Email Address:</label> <input name="email"
							type="email" class="last-child">
					</div>
					<div class="formRow floatClear">
						<label for="userComment">Additional Information:</label>
						<textarea name="userComment" class="last-child">I found your listing on HomeFinder.com. Please contact me with more information, additional photos, or to set up a showing.</textarea>
					</div>
					<div class="submitArea floatClear">
						<button class="btn last-child">Send Email</button>
					</div>
					<p class="spamMessageText last-child">We guarantee 100%
						privacy. Your information will not be shared with additional third
						parties.</p>
				</form>
			</div>
			<div class="disclaimerText last-child"></div>
		</div>
	</div>
</section>