<div class="row">
  <div class="col-lg-14">
      <div class="intro-text">
          <div class="row stats" style="margin-top: 15%;">
              <div ng-repeat="detail in fc.overallStatsObject" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <a href="" target="_blank">
                      <div class="card dark summary-inline">
                          <div class="card-body">
                              <i class="icon fa fa-smile-o fa-3x"></i>
                              <div class="content">
                                  <div class="title ng-binding">{{detail.itemValue}}</div><br>
                                  <div class="sub-title">{{detail.detaileItem}}</div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>