<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="left: 170px; height: 700px; width: 1000px;">
        <div class="modal-content">
            <div class="modal-header" style="margin-top: 2px;height:10px;border-bottom: 0px solid #e5e5e5">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <div class="col-xs-7" style="height: 550px; width: 475px; border: 0px solid grey;">
                        <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel2" data-slide-to="1"></li>
                                <li data-target="#myCarousel2" data-slide-to="2"></li>

                            </ol>
                            <!-- Wrapper for carousel items -->
                            <div class="carousel-inner" style="width: 104%; padding: 0 5px;">
                                <div class="item active">
                                    <img src="images/home1.jpg" alt="First Slide">

                                </div>
                                <div class="item">
                                    <img src="images/room2.jpg" alt="Second Slide">

                                </div>
                                <div class="item">
                                    <img src="images/room3.jpg" alt="Third Slide">

                                </div>

                            </div>
                            <!-- Carousel controls -->
                            <a class="carousel-control left" href="#myCarousel2" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" style="padding: 15px; color: #fff; background-color: rgba(0, 0, 0, 0);"></span>
                            </a>
                            <a class="carousel-control right" href="#myCarousel2" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" style="padding-left: 5px; color: #fff; background-color: rgba(0, 0, 0, 0);"></span>
                            </a>
                        </div>
                        <div class="row" style="margin-top: 5%;width: 80%;margin-left: 10%;">
                            <table id="table_detail" style="align: left;cellpadding=5px;">
                                <tr>
                                    <td>Type : Town House</td>
                                </tr>
                                <tr>
                                    <td>Built Year : 1964</td>
                                </tr>
                                <tr>
                                    <td>Price : $135,000</td>
                                </tr>
                                <tr>
                                    <td>Flip price : $170,000</td>
                                </tr>
                                <tr>
                                    <td>Beds : 4</td>
                                </tr>
                                <tr>
                                    <td>bath : 3</td>
                                </tr>
                                <tr>
                                    <td>Distance from School : 5 miles</td>
                                </tr>
                                <tr>
                                    <td>Train Station : 3 miles</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-7" style="height: 550px; width: 475px; border: 0px solid grey">
                        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel1" data-slide-to="1"></li>
                                <li data-target="#myCarousel1" data-slide-to="2"></li>

                            </ol>
                            <!-- Wrapper for carousel items -->
                            <div class="carousel-inner" style="width: 104%; padding: 0 5px;">
                                <div class="item active">
                                    <img src="images/home7.jpg" alt="First Slide">

                                </div>
                                <div class="item">
                                    <img src="images/room1.jpg" alt="Second Slide">

                                </div>
                                <div class="item">
                                    <img src="images/room2.jpg" alt="Third Slide">

                                </div>

                            </div>
                            <!-- Carousel controls -->
                            <a class="carousel-control left" href="#myCarousel1" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" style="padding: 15px; color: #fff; background-color: rgba(0, 0, 0, 0);"></span>
                            </a>
                            <a class="carousel-control right" href="#myCarousel1" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" style="padding-left: 5px; color: #fff; background-color: rgba(0, 0, 0, 0);"></span>
                            </a>
                        </div>
                        <div class="row" style="margin-top: 5%;width: 80%;margin-left: 10%;">
                            <table id="table_detail" style="align: left;cellpadding=5px;">
                                <tr>
                                    <td>Type : Town House</td>
                                </tr>
                                <tr>
                                    <td>Built Year : 1964</td>
                                </tr>
                                <tr>
                                    <td>Price : $135,000</td>
                                </tr>
                                <tr>
                                    <td>Flip price : $170,000</td>
                                </tr>
                                <tr>
                                    <td>Beds : 4</td>
                                </tr>
                                <tr>
                                    <td>bath : 3</td>
                                </tr>
                                <tr>
                                    <td>Distance from School : 5 miles</td>
                                </tr>
                                <tr>
                                    <td>Train Station : 3 miles</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
