<div class="btn-group btn-group-xs" style="top: 5px;">
												<span>Search By : </span>
											</div>
											<div class="btn-group btn-group-xs">

												<button type="button"
													class="btn btn-warning btn-xs dropdown-toggle"
													data-toggle="dropdown" href="#">
													<span class='fa fa-bed ' style="color: blue;"></span> <span
														class='fa fa-caret-down ' style="color: blue;"></span>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">4+</a></li>
												</ul>
											</div>
											<div class="btn-group btn-group-xs">
												<button type="button"
													class="btn btn-warning dropdown-toggle"
													data-toggle="dropdown" href="#">
													<span class='fa fa-bath ' style="color: blue;"></span> <span
														class='fa fa-caret-down ' style="color: blue;"></span>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li><a href="#">1</a></li>
													<li><a href="#">2</a></li>
													<li><a href="#">3+</a></li>
												</ul>
											</div>
											<div class="btn-group btn-group-xs">
												<button type="button"
													class="btn btn-warning dropdown-toggle"
													data-toggle="dropdown" href="#">
													<span class='fa fa-car ' style="color: blue;"></span> <span
														class='fa fa-caret-down ' style="color: blue;"></span>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li><a href="#">1</a></li>
													<li><a href="#">2</a></li>
													<li><a href="#">3+</a></li>
												</ul>
											</div>
											<div class="btn-group btn-group-xs">
												<button type="button"
													class="btn btn-warning dropdown-toggle"
													data-toggle="dropdown" href="#">
													<span class='fa fa-dollar ' style="color: blue;"></span> <span
														class='fa fa-caret-down ' style="color: blue;"></span>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li><a href="#">$50,000 - $100,000</a></li>
													<li><a href="#">$100,000 - $150,000</a></li>
													<li><a href="#">$150,000 - $300,000</a></li>
													<li><a href="#">$300,000 +</a></li>
												</ul>
											</div>
											<div class="btn-group btn-group-xs" style="margin-left: 35%;">
												<button type="button" class="btn btn-warning btn-xs"
													data-target="#myModal" style="color: blue;">Recent
													Searches</button>
											</div>
											<div class="btn-group btn-group-xs">
												<button type="button" class="btn btn-warning btn-xs"
													data-target="#myModal" style="color: blue;">Maximum
													Searches</button>

											</div>