<div id="{{flipItem.mlsId + 1234}}" class="carousel slide" data-ride="carousel">

<!--      Indicators -->
    <ol class="carousel-indicators" >
        <li ng-repeat="pic in flipItem.photos" data-target="#{{flipItem.mlsId + 1234}}" data-slide-to="$index" ng-class="{active:!$index}">
        </li>
    </ol>
    
<!--          Wrapper for slides -->
    <div class="carousel-inner">
        <div ng-repeat="pic in flipItem.photos" class="item" ng-class="{active:!$index}">
            <img ng-src="{{pic}}" alt="missing" />
            <div class="carousel-caption">
                    <h3>{{$index + 1}}</h3>
            </div>
        </div>
    </div>
    
    <a class="carousel-control left" href="#{{flipItem.mlsId +1234}}" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" style="padding: 15px; color: #fff; background-color: rgba(0, 0, 0, 0);">
	    </span>
	</a>
	<a class="carousel-control right" href="#{{flipItem.mlsId +1234}}" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" style="padding: 15px; margin-right:15px;color: #fff; background-color: rgba(0, 0, 0, 0);">
		</span>
	</a>
	
</div>