<div class="row two-equal-columns js-stack" data-vr-zone="Stack">
    <div class="row">
        <ul style="width:100%" class="module homepage-stack">
            <li ng-repeat="event in fc.newsOrEventsObject"  style="width:45%;float:left;margin-right:1%" class="" time="1476976261000" data-vr-contentbox="">
                <article>
                    <a href="http://money.cnn.com/2016/10/20/real_estate/donald-trump-queens-home/index.html?iid=SF_LN" class="homepage-stack-hed">
                        <div class="homepage-stack-hed-container">{{event.newsOrEven}}</div>
                    </a>
                </article>
            </li>
        </ul>
    </div>
</div>
