
<div class="navbar-header">
	<button type="button" class="navbar-expand-toggle">
		<i class="fa fa-bars icon"></i>
	</button>
	<ol class="breadcrumb navbar-breadcrumb">
		<li class="active"></li>
	</ol>
	<button type="button"
		class="navbar-right-expand-toggle pull-right visible-xs">
		<i class="fa fa-th icon"></i>
	</button>
</div>
<ul class="nav navbar-nav navbar-right">
	<button type="button"
		class="navbar-right-expand-toggle pull-right visible-xs light">
		<i class="fa fa-times icon"></i>
	</button>
	<!-- <li class="page-scroll"><a href="#about">Search</a></li> -->
	<li class="page-scroll"><a href="#fliplisting">Flip Listings</a></li>
	<li class="page-scroll"><a href="#about">News</a></li>
	<!-- <li class="page-scroll"><a href="#opts">Flip Listing</a></li> -->
	<li class="page-scroll"><a href="#histflip">Successful flips</a></li>

	<li class="page-scroll active"><a href="#modules">Services</a></li>

	<li class=""><a href="https://github.com/sujitbehera27"
		class="dropdown-toggle navlink" target="_blank" role="button"><i
			class="fa fa-user fa-1x"></i>Sujit</a></li>
</ul>


